@import '@/shared/styles/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #090817;
  --foreground: #ffffffcc;
}

body {
  color: var(--foreground);
  background: var(--background);
}
